.checkBox {
	color: #4f46e5;
	flex-shrink: 0;
	width: 1rem;
	height: 1rem;
	border-radius: 0.25rem;
	border-color: #d1d5db;
}

label {
	margin-left: 0.75rem;
	color: #4b5563;
	min-width: 0;
	justify-content: start;
}
.container {
	display: flex;
	font-size: 1rem;
	line-height: 1.5rem;
	align-items: center;
	padding-top: 0.5rem;
}
